.popup-open-image {
    position: fixed;
    margin: 0 auto;
    top: 90px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 75vw;
    max-height: 75vh;
    align-items: center;
    justify-content: center;
    z-index: 7;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    
}

@media screen and (max-width: 767px) {

    .popup-open-image {
        top: 136px;
        height: 299px;
        width: 240px;
    }
}