.popup-open-image__close-image {
    background-image: url(../../../images/Close\ Icon.png);
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    left: 960px;
    cursor: pointer;
    opacity: 1;
    margin: 0;
    padding: 0;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-color: transparent;
}

.popup-open-image__close-image:hover {
    opacity: .6;
}

@media screen and (max-width: 1150px) {

    .popup-open-image__close-image {
        
        left: 700px;
        
    }
}

@media screen and (max-width: 1024px) {

    .popup-open-image__close-image {
        top: -40px;
        left: 580px;
        
    }
}

@media screen and (max-width: 767px) {

    .popup-open-image__close-image {
        width: 20px;
        height: 20px;
        top: -36px;
        left: 220px;
        background-size: 20px 20px;
    }
}
