.elements {
    max-width: 880px;
    width: 100%;
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 17px;
}

@media screen and (max-width: 767px) {

    .elements {
        margin-left: 19px;
        margin-right: 19px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
}