.profile__avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    position: absolute;
    
}

.profile__avatar:hover {
    
    opacity: .8;
    
}


@media screen and (max-width: 767px) {
    
    .profile__avatar {
        margin: 0 auto;
        margin-bottom: 22px;
    }
}