.element__button {
    background: url(../../../images/vector_element.png);
    width: 22px;
    height: 19px;
    border: none;
    padding: 0;
    opacity: 1;
}

.element__button:hover {
    opacity: .5;
}