.footer {
    margin-left: 200px;
    margin-bottom: 60px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1023px) {
    
    .footer {
        margin-left: 19px;
        margin-bottom: 36px;
    }
}

