.footer {
    margin-left: 200px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    width: 318px;
}

@media screen and (max-width: 1150px) {
    
    .footer {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1023px) {
    
    .footer {
        width: 282px;
        margin-left: 19px;
    }
}

